/* Reset CSS */
@media all {
  /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: #ffffff;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
  outline: 0;
  text-decoration: none;
}
/* For Mobile Size */
body {
  font-family: "Raleway";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #2d2d2d;
}
.container {
  max-width: 1240px;
  min-width: 400px;
  margin: 0 auto;
}
p,
section {
  color: black;
  font-size: 14px;
}

/* header */
.site-header {
  display: flex;
  flex-flow: row wrap;
}
.logo {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex: 1 2 50%;
}
.logo img {
  width: 50%;
  padding: 5%;
}
.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 2 50%;
}
.cart img {
  width: 25%;
  padding: 5%;
}
.main-navigation {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: auto 2%;
  padding: 3%;
  border-top: solid;
  border-top-color: #d7d7d7;
  border-width: 2px;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: #e2574c;
  font-weight: 500;
}
nav a:hover {
  /* text-decoration: underline; */
  color: #b64036;
}

/* banner */
.banner p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 4%;
}
.banner-text {
  width: 80%;
  text-align: center;
}

.banner {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/banner-girl.png"), url("images/flower-bkgd.jpg");
  background-size: cover, auto 369px, cover;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position-x: center, center, center;
  background-position-y: center, 63px, center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text h1 {
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-style: normal;
}
.banner-text,
.products,
.newsletter h2 {
  text-shadow: 2px 2px 4px #0000003f;
  /* text-shadow:  h-shadow v-shadow blur-radius color */
}

/* about */
.about {
  padding: 20px auto;
}
.about,
.newsletter {
  text-align: center;
  margin: 60px auto;
}
.about p,
.newsletter p {
  margin: auto 15px;
  line-height: 30px;
}
.newsletter p {
  margin: auto 3px;
}
h2 {
  margin: 20px auto;
  font-size: 33px;
}
em {
  font-family: "Playfair Display";
  font-weight: normal;
  font-style: italic;
}
strong {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
}

/* products */
.item {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
}
.item :hover {
  color: yellow;
}
.category-mens,
.category-womens {
  width: 100%;
}
.retio2_1:before{
    content: "";
	display: block;
	padding-top: 50%;
}
.retio1_1:before{
    content: "";
	display: block;
    padding-top: 100%;
}
.category-trends-glasses,
.category-sale-bags {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.category-trends,
.category-sale {
  margin-right: 8px;
}


.category-trends,
.category-glasses,
.category-sale,
.category-bags {
  flex: 2 50%;
}
.category-bags,
.category-glasses,
.category-mens,
.category-sale,
.category-trends,
.category-womens {
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position-x: center, center;
  background-position-y: center, center;
}
.category-mens {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/mens-category.jpg);
}
.category-trends {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/trends-category.jpg);
}
.category-glasses {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/glasses-category.jpg);
}
.category-sale {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/sale-category.jpg);
}
.category-bags {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/bags-category.jpg);
}
.category-womens {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/womens-category.jpg);
}

/* featured (flickity) */
.featured {
  width: 100%;
  padding: 60px auto;
  text-align: center;
  margin: 60px auto;
}
.featured-title {
  margin-bottom: 70px;
}
.featured-products-container {
  width: 100%;
}

.featured-products-item {
  width: 300px;
  text-align: center;
}
.featured br {
  display: none;
}
.carousel-cell {
  width: 100%;
}
.product-name {
  color: #e2574c;
  font-family: "Playfair Display";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin: 20px auto;
}
.product-tag {
  text-transform: uppercase;
  font-size: 11px;
}
.price,
.product-tag {
  font-weight: 400;
}
.carousel-cell-text {
  padding-bottom: 50px;
}

/* newsletter */
.newsletter {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(images/wave-bkgd.jpg);
  background-size: cover, 300% 257%;
  background-position: center, center bottom;
  background-repeat: no-repeat, no-repeat;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.newsletter p,
.newsletter h2 {
  color: #ffffff;
}
.text-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #ffffff;
  width: 90%;
  border-radius: 20px;
  height: 40px;
  font-weight: normal;
}
.text {
  font-size: 16px;
  width: 70%;
  height: 20px;
  border-radius: 10px;
  border: none;
  margin: auto 10px;
  padding-left: 20px;
}
input:focus {
  border: none;
}
.submit {
  font-size: 16px;
  width: 35%;
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
  background-color: rgb(217, 64, 60);
  border: none;
  color: #ffffff;
}

/* footer part */
footer {
  background: #242424;
  color: #ffffff;
  height: 320px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-child {
  line-height: 20px;
}
footer p {
  color: #ffffff;
  margin: 0px;
}
footer i {
  width: 30px;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin: 5px auto;
}
.light-grey {
  color: rgb(132, 132, 132);
}
footer p {
  font-family: "Playfair Display";
  font-weight: normal;
  font-style: normal;
}
footer a {
  color: #ffffff;
}
.footer-child span {
  display: none;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}






/* For Tablet Size... */
@media all and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .site-header {
    flex-flow: row nowrap;
    height: 80px;
  }
  .logo {
    order: 0;
    width: 10%;
  }
  .logo img {
    width: 80%;
    margin-left: 3%;
  }
  .main-navigation {
    order: 1;
    width: 80%;
    border-top: none;
    justify-content: space-around;
  }
  .cart {
    order: 2;
    width: 10%;
  }
  .cart img {
    width: 40%;
    margin-right: 4%;
  }
  .banner p {
    font-size: 20px;
  }
  .banner-text h1 {
    margin: 15px;
    font-size: 40px;
    display: inline;
  }
  .banner {
    height: 400px;
    background-size: cover, auto 366px, cover;
    background-position-y: center, 69px, center;
  }

  h1,
  h2 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-style: normal;
  }

  .about {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin: 30px auto;
  }
  .about p,
  .newsletter p {
    line-height: 30px;
    font-size: 18px;
  }
  .about p {
    margin: 0px 15px;
    margin-top: 15px;
  }
  h2 {
    margin: 10px auto;
    font-size: 38px;
  }
  .products{
      display: flex;
      flex-flow: row wrap;
  }
  .item {
    font-size: 25px;
    margin: 0px;
  }
  .category-mens,
  .category-womens,
  .category-trends-glasses,
  .category-sale-bags {
    width: 49.4%;
    margin: 0.6% 0%;
  }
  .category-womens,
  .category-trends-glasses{
      margin-left: 0.6%;
  }
  .category-mens,
  .category-sale-bags {
    margin-right: 0.6%;
  }
  .category-sale,.category-trends{
    margin-right: 1.2%;
  }
  .category-glasses,.category-bags{
    margin-left: 1.2%;
  }
  .carousel-cell {
    width: 50%;
  }
  .featured br {
    display: block;
  }
  .product-tag {
    font-size: 13px;
  }
  .product-name {
    margin: 25px auto;
  }
  .featured-products-item img {
    width: 80%;
  }
  .carousel-cell-text {
    padding-top: 20px;
    padding-bottom: 45px;
  }
  .newsletter {
    height: 380px;
    background-size: cover, 240% 230%;
  }
  .newsletter p {
    margin: 30px 20px;
  }
  .text-submit {
    height: 50px;
    border-radius: 25px;
    width: 65%;
  }
  .submit {
    margin-right: 5px;
    height: 40px;
    border-radius: 20px;
  }
  footer {
    height: 290px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer-child span {
    display: inline;
  }
  .footer-child {
    display: initial;
    text-align: left;
    margin: auto 15px;
  }
  .socialmedia {
    margin-right: 40px;
  }
  .footer-child p {
    line-height: 1.5em;
  }
  .footer-child li {
    margin: 0.8em auto;
  }
}






/* For Desktop Size... */
@media all and (min-width: 1000px) {
  .site-header {
    height: 15%;
  }
  .logo {
    width: 30%;
    padding-left: 3%;
  }
  .logo img {
    width: 46%;
    padding: 0;
  }
  .main-navigation {
    width: 40%;
  }
  .cart {
    width: 30%;
  }
  .cart img {
    width: 18%;
    margin-right: 7%;
  }
  .banner p {
    font-size: 18x;
  }
  .banner-text h1 {
    font-size: 60px;
  }
  .banner {
    background-size: cover, auto 585px, contain;
    background-position-y: center, 5vw, center;
    height: 33rem;
  }
  .about,
  .newsletter {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }
  .about {
    height: 12rem;
  }
  .about p,
  .newsletter p {
    margin: 1rem 23%;
  }
  .item {
    font-size: 38px;
  }
  .category-mens,
  .category-womens,
  .category-trends-glasses,
  .category-sale-bags {
    width: 49.7%;
    margin: 0.3% 0%;
  }
  .category-womens,
  .category-trends-glasses{
      margin-left: 0.3%;
  }
  .category-mens,
  .category-sale-bags {
    margin-right: 0.3%;
  }
  .category-sale,.category-trends{
    margin-right: 0.6%;
  }
  .category-glasses,.category-bags{
    margin-left: 0.6%;
  }
  .carousel-cell {
    width: 25%;
  }
  .featured br {
    display: none;
  }
  .featured-products-item img {
    width: 80%;
  }
  .newsletter {
    height: 340px;
    background-size: cover, 113% 255%;
  }
  .newsletter p {
    margin: 2rem 23%;
  }
  .text-submit {
    width: 35%;
  }
  .footer-left {
    margin: auto 45px;
  }
  .socialmedia {
    margin: auto 100px;
  }
}
